:root{
    --main-text-color: #c9d1d9;
    --link-text-color: #6fabef;
    --code-bg-color: #f0f6fc26;
    --code-block-bg-color: #3b3b3c;
    --code-block-bg-alt-color: #282829;
    --not-quite-black: #23272A;
    --dark-not-black: #2C2F33;
    --donate-text-color: #FFB61E;
}

.not_quite_black{
    background: var(--not-quite-black) !important;
}

.dark_not_black{
    background: var(--dark-not-black) !important;
}

.donate{
    color: var(--donate-text-color) !important;
}

code {
  background-color: #16181a;
  padding: 3px;
  border-radius: 5px;
}

.search_box{
  border: 1px solid #ccc!important;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column_highlight{
  font-weight: 700 !important;
  color: #5a5c69 !important;
  background-color: #f6c23e !important;
}

.md-content{
    width: 80%;
}

.fullpackfont{
    font-family: 'full pack 2025', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'full pack 2025';
    src: url('fonts/full Pack 2025.ttf');
}

.inline-flex{
    display: inline-flex !important;
}

.contents{
    display: contents;
}

.fa-2_5x{
    font-size: 2.5rem !important;
}

.rem-2{
    font-size: 2rem;
}

.embed{
    background-color: #34363c;
    border-color: rgba(46,48,54,.6);
    max-width: 18rem;
}

.embed-red{
    border-left: 5px solid red;
    border-radius: 7px;
}

input.select2-search__field{
    width: 100% !important;
}

.select2-container--classic .select2-results__option[aria-selected=true]{
    background-color: #ddd !important;
    color: #858796 !important;
}

.select2-container--default .select2-results>.select2-results__options{
    max-height: 340px !important;
}

@media (min-width: 768px){
    .custom-md-8{
        flex: 0 0 70.1%;
        max-width: 70.1%;

    }
}

.brows-static{
    position: absolute;
}

.brows-static:hover{
    opacity: 0;
}

.rocklee{
    display: -webkit-inline-box;
}

.banner{
    border-radius: 3px;
}

body {
  overflow-x: hidden;
}

/* Sidebar */

#sidebar {
  -webkit-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  padding: 15px;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
}

#content {
  -webkit-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

.sidebar-opened #content {
  margin-left: 250px;
}

@media (min-width: 100px) {
    .sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 14rem;
  }
}

@media (max-width: 992px) {
  #sidebar {
    margin-left: -251px;
  }
}

@media (min-width: 992px) {
  #content {
    margin-left: 250px;
  }
}


/* Hamburger Menu */

.nav-trigger {
  cursor: pointer;
  font-size: 1.4rem;
}

.pt-2_2{
  padding-top: 2.2rem !important;
}

/* modal for item viewer */
#item-viewer {
  padding: 0 !important;
}

#item-viewer .modal-dialog.modal-xl {
  width: 100%;
  max-width: none;
  height: 100vh;
  margin: 0;
}

#item-viewer .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}

#item-viewer .modal-body {
  overflow-y: auto;
}

.close, .close:hover {
  color: white;
}