.not_quite_black{
    background: #23272A !important;
}

.dark_not_black{
    background: #2C2F33 !important;
}

.fullpackfont{
    font-family: 'full pack 2025', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'full pack 2025';
    src: url('fonts/full Pack 2025.ttf');
}

.inline-flex{
    display: inline-flex !important;
}

.contents{
    display: contents;
}

.fa-2_5x{
    font-size: 2.5rem !important;
}

.rem-2{
    font-size: 2rem;
}

.embed{
    background-color: #34363c;
    border-color: rgba(46,48,54,.6);
}

.embed-red{
    border-left: 5px solid red;
    border-radius: 3px;
}