.not_quite_black{
    background: #23272A !important;
}

.dark_not_black{
    background: #2C2F33 !important;
}

#donate{
    font-family: 'full pack 2025', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'full pack 2025';
    src: url('fonts/full Pack 2025.ttf');
}